$bg-main: #080511;
$bg-card: rgba(20, 15, 33, 0.72);
$border: rgba(255, 255, 255, 0.08);

$text-main: #f8f5ff;
$text-muted: #cdbfe3;

$lime: #9bff7a;
$lime-soft: #d8ffb7;

$pink: #ff73c7;
$pink-soft: #ffc3ea;

$violet: #a07cff;
$violet-soft: #d4c2ff;

$shadow-pink: 0 0 35px rgba(255, 115, 199, 0.2);
$shadow-lime: 0 0 35px rgba(155, 255, 122, 0.18);
$shadow-violet: 0 0 35px rgba(160, 124, 255, 0.18);
